PORT=5007
MONGODB_URI=mongodb://year3semester2kdy_db_user:fgSHzLPZDgFNFSld@ac-jtvjobw-shard-00-00.fa7keoe.mongodb.net:27017,ac-jtvjobw-shard-00-01.fa7keoe.mongodb.net:27017,ac-jtvjobw-shard-00-02.fa7keoe.mongodb.net:27017/?ssl=true&replicaSet=atlas-6j0c45-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=your_jwt_secret

AUTH_SERVICE_URL=http://localhost:5001
PATIENT_SERVICE_URL=http://localhost:5002
DOCTOR_SERVICE_URL=http://localhost:5004
PAYMENT_SERVICE_URL=http://localhost:5006

CLIENT_URL=http://localhost:5173
DEFAULT_TIMEZONE=Asia/Colombo
NODE_ENV=development
SERVICE_NAME=appointment-service


